__pycache__
1D_filtration.code-workspace
.DS_Store
docs/src/2phase-presentation.aux
docs/src/2phase-presentation.fdb_latexmk
docs/src/2phase-presentation.fls
docs/src/2phase-presentation.log
docs/src/2phase-presentation.nav
docs/src/2phase-presentation.out
docs/src/2phase-presentation.snm
docs/src/2phase-presentation.synctex.gz
docs/src/2phase-presentation.toc
